.mobile-container {
  position:fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: rgb(58, 123, 99);
}

app-user-list {
  visibility: hidden;
}

@media only screen and (max-width: 800px) {
  .mobile-container {
    width: 100vw;
  }
}
