.sidebar {
  width: 300px;
  height: 100%;
  background-color: rgb(0, 35, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 2px 2px 2px #000000;
  opacity: 0;
  transition: 0.15s;
  visibility: hidden;
}

.menu-list {
  margin-top: 50px;
  position: relative;
  color: white;
}

.menu-item-div {
  padding: 5px;
  border: 1px solid rgb(23, 77, 56);
  border-top: none;
  border-left: none;
  border-right: none;
}

.menu-item-div:hover {
  cursor: pointer;
  background-color:rgb(0, 125, 64);
}

.menu-item {
  position: fixed;
  cursor: pointer;
  font-size: 20px;
}

.menu-item-icon {
  position: relative;
  margin-right: 5px;
  margin-top: 3px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 20px;
}


