/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(10, 57, 38);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(52, 104, 83);
}
